body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header{
  width:990px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 36px;
}
.btn{
  background-color: aqua;
  border: 1px solid lightgray;
  padding: 10px 20px;
  border-radius: 14px;
  font-size: 16px;
}

.story-container{
  width: 900px;
  margin: 60px auto;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition: .3s;
}
.story-container::-webkit-scrollbar{
  display: none;
}
.story{
  text-align: center;

}
.story-img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;

}
.name{
  font-size: 14px;
}

.container{
  display: flex;
  width: 990px;
  margin: 60px auto;
  gap: 20px;
}
.links{
  display: flex;
  gap:10px;

}
.link{
  height: 10px;
}
.sidebar-title{
  margin-top: 0;
}


.feed{
  border: 1px solid black;
  width: 560px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 14px;
}
.feed-img{
  width: 100%;
  border-radius: 14px;
}
.profile{
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}
.user{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.username{
  font-size: 14px;
        color: rgb(72, 72, 72);
}

.reactions{
  display: flex;
  justify-content: space-between;
}
.left{
  display: flex;
  align-items: center;
  gap: 10px;
}